/* Hide close buttons on tabs. */
.tab .closebox {
  display: none;
}

/* Add private browsing indicator per tab */
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}

/* Hide TST header */
#sidebar-header {
  display: none;
}